.custom-navbar {
    background-color: black;
    height: 75px;
  }
  
  #brand-name {
    color: white;
    padding-left: 15px;
  }
  
  .navbar-brand {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    float: left;
  }
  
  .navbar-link {
    color: white !important;
    
  }
  
  .navbar-separator {
    background-color: white;
    height: 60px; /* Add the unit (e.g., pixels) */
    width: 2px;
  }

  .nav-item{
    padding: 5px;
  }

  .nav-item:not(:last-child) .navbar-link {
    padding-right: 10px;
    border-right: 2px solid white ;
  }
  .custom-nav-container{
    width: 300px;
  }
  .custom-separator {
    width: 2px;
    height: 20px;
    background-color: white; 
  
  }


  
  