/* Reset default margin and padding */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styles */
.header, .nav, .main, .footer {
  padding: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .nav ul {
    flex-direction: column;
  }

  .nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}





.custom-navbar {
    background-color: black;
    height: 75px;
  }
  
  #brand-name {
    color: white;
    padding-left: 15px;
  }
  
  .navbar-brand {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    float: left;
  }
  
  .navbar-link {
    color: white !important;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .navbar-separator {
    background-color: white;
    height: 60px; /* Add the unit (e.g., pixels) */
    width: 2px;
  }

  .nav-item{
    padding: 5px;
    background-color: black;
  }


  .custom-nav-container{
    width: 300px;
  }
  .custom-separator {
    width: 2px;
    height: 20px;
    background-color: white; 
  
  }
.navbar-toggler {
  border: none; /* Optionally remove the border */
}


.separator-item{
  padding-left: 10px;
  padding-right: 10px;
}

.separator-line {
  width: 2px;
  height: 40px;
  background-color: white;
}

.nav-transition-bar{
  background-color: #D9D9D9;
  width: 100%;
  height: 18px;
}
.news-description{
  text-align: center;
  padding: 25px;
}
.article-heading{
  padding-right: auto;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 25px;

}


.separator-hz{
  height: 2px;
  width: 100%;
  background-color: black;
}

.separator-hz {
  border: 0;
  border-top: 1px solid #D9D9D9; /* Adjust the color as needed */
  margin: 20px 0; /* Add margin to separate the horizontal separator from the content */
}

.trending-img{
  width: 20%;
  border: 5px solid #737373;  
}

p{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.article-content-trending{
  font-size: px;
  font-weight: 500;
}
.trending-item{
  padding-bottom: 30px;
  padding-top: auto;
}
.footer-black{
  background-color: black;
  height: 75px;
}
.footer-img{
  width: 40px;
  background-color: black;
}
.left-column{
  height: 100%;
  width: 8px;
  background-color: black;
}
.right-column {
  height: 100%;
  width: 8px;
  background-color: black;
  position: fixed; /* Keeps the column fixed on the right side */
  top: 0;
  right: 0;
}


  
  